MongoDB__ConnectionString=mongodb+srv://USUARIO:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MongoDB__DatabaseName=eshop-orders
MongoDB__CollectionName=orders
Services__BasketUrl=https://eshop-servicess.onrender.com/
Services__CatalogUrl=https://catalogapi-4t24.onrender.com/
Cors__AllowedOrigins__0=http://localhost:5173
Cors__AllowedOrigins__1=https://TU-SITIO.netlify.app
ASPNETCORE_URLS=http://+:8084
